# Source and tests
src/
test/

# Tooling config
.github/
jest.config.cjs
jest.transform.cjs
release.config.cjs
tsconfig.json
tsconfig.test.json
tsup.config.ts

# Local/development files
node_modules/
*.tsbuildinfo
.gitignore
.npmignore
.env
.env.*
